{% extends "base.html" %}

{% block title %}compte{% endblock title %}
{% comment %} {% block headerContent %}{% endblock  %}
{% block navcontent %}{% endblock  %} {% endcomment %}
{% block content %}
    <h1 sclass="Logout_title">Mes articles</h1>
    <div>
        {% if panier %}
            {% for article in panier %}
                <p>{{ panier.Panier_user }}</p>
            {% endfor %}
        {% endif %}
    </div>
    <br>
    <div class="user_account_info">

        <div class="profile-right-side">
            <p>
                <h2> </h2>
            </p>
        </div>
    </div>
{% endblock content %}

